:root{
    --vt-maroon: #861f41;
    --vt-burntOrange: #e87722;
    --vt-hokieStone: #75787b;
    --vt-white: #FFFFFF;
    --vt-purple: #642667;
    --vt-pink: #ce0058;
    --vt-sunset: #ed8b00;
    --vt-yellow: #f7ea48;
    --vt-teal: #508590;
    --vt-turquoise: #2cd5c4;
    --vt-grey: #d7d2cb;
    --vt-smoke: #e5e1e6;
    --vt-blue: #003c71;
    --vt-burntOrangeWeb: #c64600;
    --black: #000000;
    --background: #333333;
}

.skip-to-content-link {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

.skip-to-content-link:focus {
    width: 300px;
    height: auto;
    left: 0;
    z-index:999;
}   

body{
    background: var(--background);
}

.container{
    max-width: 900px;
}

h1,
p,
legend,
label {
    color: var(--vt-white);
    font-family: Acherus,sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 1.5rem;
}

label{
    font-family: Acherus,sans-serif;
}

label.btn{
    background: var(--vt-white);
    color: var(--vt-maroon);
    border-color: var(--background);
}

.input-group-text {
    font-family: Acherus,sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.form-check-label {
    font-family: gineso-condensed, sans-serif;
    font-weight: 700;
}

.form-control,
input#enter-gift {
    font-family: Acherus,sans-serif;
    font-weight: 600;
}

.btn-primary:not(:disabled):not(.disabled).active {
    background-color: var(--vt-hokieStone);
    border-color: transparent;
}

.btn-submit{
    background: var(--vt-pink);
    color: var(--vt-white);
    text-transform: uppercase;
    font-family: gineso-condensed, sans-serif;
    letter-spacing: 4px;
    box-shadow: 0 0 10px var(--vt-pink);
}

.form-check-input {
    display: inline;
    visibility: visible;
    opacity: 0;
}

.btn.form-check-label{
    border-radius: 0;
}

.active {
    box-shadow: inset 0 0 3px black;
}
