:root{
    --vt-maroon: #861f41;
    --vt-burntOrange: #e87722;
    --vt-hokieStone: #75787b;
    --vt-white: #FFFFFF;
    --vt-purple: #642667;
    --vt-pink: #ce0058;
    --vt-sunset: #ed8b00;
    --vt-yellow: #f7ea48;
    --vt-teal: #508590;
    --vt-turquoise: #2cd5c4;
    --vt-grey: #d7d2cb;
    --vt-smoke: #e5e1e6;
    --vt-blue: #003c71;
    --vt-burntOrangeWeb: #c64600;
    --black: #000000;
    --background: #333333;
}

